
#sidebar {
    background-color: #e5f2d0 !important;
  }
  
  #main {
    background-color: #89bfb5 !important;
  }
  
  #avatar {
    display: flex;
    align-items: center;
  }
  
  #Logo {
    margin-top: 20px;
    align-items: center;
    display: flex !important;
    font-size: 150%;
  }
  
  #pontuacao {
    display: flex;
    font-size: 13px;
    gap: 50px;
    margin-top: 40px;
  }
  
  #bottom-black {
    border: 0;
    height: 5px;
    background-color: black;
    margin: 20px 0;
  }
  
  .widget-btn:hover {
    background-color: #2980b9;
  }
  
  li a {
    color: black;
    font-size: 19px;
    font-weight: 200;
  }
  
  a img {
    margin-right: 25px;
  }
  
  #navfooter {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
  }
  
  .widget-btn {
    width: 200px;
    padding: 10px;
    border-radius: 30px;
    background-color: #63b896;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
  }
  
  .widget-btn:hover {
    background-color: #2980b9;
  }
  
  .widget-container .widget-btn {
    margin: 0 10px;
  }
  
  main img {
    margin: auto;
  }
  
  #buttons {
    gap: 100px;
  }
  
  #teste {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  #email {
    height: 69px;
  }
  
  /* Estilos para padronizar o tamanho */
  .settings-container .btn,
  .settings-container .form-control {
    width: 200px;
  }
  
  @media (max-width: 1000px) {
    #pontuacao {
      display: block;
    }
  
    #avatar {
      display: block !important;
    }
  }
  
  @media (max-width: 520px) {
    #buttons {
      display: flex !important;
      flex-direction: column;
    }
  
    #responsive {
      margin-bottom: 5px !important;
      gap: 30px;
    }
  }
  
  @media (max-width: 1000px) {
    #sidebar {
      background-color: #28a745;
    }
  }
  
  @media (max-width: 520px) {
    #Logo {
      display: flex;
    }
  }
  