body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #89bfb5;
  }
  
  .admin img {
    width: 60%; /* Ajuste conforme necessário */
    margin: auto; /* Centraliza a imagem */
  }
  
  .admin h4, .admin p {
    text-align: center;
    margin: 0;
  }
  
  .search-container .search-input {
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .card {
    background-color: #fff;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .card .wholecard {
    display: flex;
    align-items: center;
  }
  
  .card img {
    width: 100px; /* Ajuste conforme necessário */
    margin-right: 15px;
  }
  
  .card .edition {
    margin-left: auto;
    margin-right: 20px;
  }
  
  .search-container {
    position: relative;
    width: 100%; /* Ajuste conforme necessário */
  }
  
  .search-container .search-input {
    width: 100%;
    padding-right: 40px; /* espaço para o ícone de lupa */
  }
  
  .search-container .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #5a5757;
    pointer-events: none;
  }
  
  #quiz {
    display: block;
    margin: 40px auto 20px;
  }
  
  /* Estilos adicionais para a sidebar e o conteúdo principal */
  #sidebar {
    background-color: #e5f2d0;
    min-height: 100vh;
  }
  
  #main {
    background-color: #89bfb5;
    padding: 20px;
  }
  
  .card-title {
  margin-bottom: 10px; /* Espaço abaixo do título (h2) */
}

.card-description {
  margin-bottom: 10px; /* Espaço abaixo da descrição (h4) */
}
.card-title {
  margin-bottom: 10px; /* Espaço abaixo do título (h2) */
}

.card-description {
  margin-bottom: 10px; /* Espaço abaixo da descrição (h4) */
}
