body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #89bfb5;
}

.card {
  background-color: #63b896;
  border: 0px;
  border-radius: 50px;
}

.card img {
  width: 80px;
  margin-bottom: 20px;
}

#quiz {
  margin-right: auto;
}

#user {
  width: 6%;
  height: 60px;
}

.nav button {
  width: 10%;
  height: 10%;
  margin-right: 40px;
  background-color: #e5f2d0;
  color: black;
}

#chat {
  margin-left: auto;
  margin-right: 10px;
  width: 5%;
  height: 60px;
}

.bigcard {
  width: 100%;
  background-color: #d8e0cc;
  border-radius: 30px;
  margin: auto;
}

.card-content {
  padding: 20px;
  font-size: 20px;
  display: block;
  text-align: center;
  align-items: center;

}

.btn-primary {
  display: inline-block;
  min-width: 100px;
}

div.nav.text-center.mb-5{
  display: inline-block;
  align-items: center;
  width: 100%;

}

div.wholecard{
  margin-top: 80px;
  padding-bottom: 0px;
}



