body {
    background-color: #8ABFB5;
  }
  
  .user-icon {
    font-size: 3rem;
  }
  
  .adm {
    width: 25%;
    height: 25%;
  }
  
  .user {
    width: 100%;
    height: 100%;
  }
  
  #logo {
    width: 100%;
    height: 100%;
  }
  
  @media only screen and (max-width: 500px) {
    #logo {
      display: none;
    }
  }
  